<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1><%= @student.name %></h1>
    <% @student.addresses.each do |address| %>
      <p><%= address.description %></p>
      <p><%= address.street_address %></p>
      <p><%= address.city %></p>
      <p><%= address.state %></p>
      <p><%= address.zip_code %></p>
    <% end %>
    <% @student.courses.each do |course| %>
      <%= course.title %>
    <% end %>
  </body>
</html>
